.buy-credits {
  .modal-content {
    padding: 35px;
    width: 500px;

    .select-coins {
      text-align: center;
      margin-top: 45px;

      .coins {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 20px;
        justify-content: center;

        &-input {
          display: flex;
          flex-direction: column;
          text-align: justify;

          label {
            font-size: 12px;
          }
        }

        &-icons {
          svg {
            width: 30px;
            height: 50px;
          }
        }

        .discount-not-exists {
          color: red;
          font-size: 10px;
        }
      }

      .input-txt.loading,
      .input-txt.ok,
      .input-txt.error {
        background-repeat: no-repeat;
        background-position-x: 96%;
        background-position-y: 50%;
        background-size: 25px;
      }

      .input-txt.loading {
        background-image: url("loading.gif");
      }
      .input-txt.ok {
        background-image: url("ok.png");
      }
      .input-txt.error {
        background-image: url("error.png");
      }

      .input-txt {
        font-size: 20px;
        text-align: center;
      }
    }

    .totals {
      display: flex;
      flex-direction: column;
      text-align: center;
      .total {
        font-size: 20px;
      }
      .total:last-child {
        color: #6b72fd;
        font-size: 25px;
      }

      .total-discount {
        display: flex;
        align-items: center;
        gap: 10px;

        .discount-inputs {
          display: flex;
          gap: 10px;
        }
      }
    }

    .buttons-pay {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      margin-top: 20px;
      .mp-button {
        margin-top: 30px;
      }
    }
  }
}
