@import "src/globals";
.home {
  .page {
    padding: 0;
    min-height: 0;
  }

  .section-page {
    margin-bottom: 8em;
  }

  .add-project {
    gap: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    width: fit-content;
    float: right;
    background-color: white;
    border: 1px solid #6F3BFF;
    border-radius: 30px;
    padding: 5px 15px 5px 15px;

    &-icon {
      width: 23px;
      height: 23px;
    }

    .text-purple {
      font-weight: 600;
    }
  }
}
