.search-page {
  .page {
    margin: 0;
    padding: 0;
    min-height: auto;
    margin-bottom: 30px;
  }

  .content {
    &-section {
      border-bottom: 1px solid lightgray;
      margin-bottom: 20px;
    }
  }
}
