.profile-page {
  .description {
    margin-bottom: 20px;
  }
  .item-input {
    display: grid;
    margin-bottom: 15px;
    width: 50%;

    .flex {
      gap: 10px;

      img {
        cursor: pointer;
      }
    }

    input {
      width: 100%;
    }
  }

  .footer {
    position: relative;

    .section-buttons {
      position: absolute;
      right: 0;
      padding-bottom: 2em;
    }
  }
  input.button {
    height: 40px;
    font-size: 16px;
    background-color: #f6faff;
    color: #6b72fd;
  }
  input.button:hover {
    height: 40px;
    font-size: 16px;
    background-color: #6b72fd;
    color: #ffffff;
  }
  input.button:disabled {
    height: 40px;
    font-size: 16px;
    background-color: #c9c9c942;
    color: #70707042;
  }

  .add {
    transform: rotate(45deg);
    img {
      width: 15px;
      height: 15px;
    }
  }
}
