.designer-assign {
  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .list-designer {
      min-height: 220px;
      overflow: auto;
      .designer {
        border: 1px solid rgba(111, 59, 255, 0.3);
        border-radius: 10px;
        padding: 5px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2px;
        margin-right: 5px;
        font-size: 14px;

        .button {
          font-size: 12px;
          padding: 5px 10px;
        }
      }
      .asigner {
        background-color: rgba(111, 59, 255, 0.3);
        .button {
          background-color: #ffffff;
        }
        .button:hover {
          background-color: #6b72fd;
          color: #ffffff;
        }
      }
    }
    .list-designer::-webkit-scrollbar {
      width: 5px;
    }
    .list-designer::-webkit-scrollbar-track {
      background: #ffffff;
    }
    .list-designer::-webkit-scrollbar-thumb {
      background-color: #6b72fd63;
      border-radius: 20px;
    }
  }

  h3 {
    color: #36ccd1;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer {
    margin-top: 15px;
    width: 95%;
    left: 12px;
    height: 40px;
    display: flex;
    justify-content: center;

    .section-buttons {
      justify-content: space-between;
      margin-bottom: 20px;
    }
  }
}
