.active-projects {
  table {
    tr {
      td:last-child {
        min-width: 57px;
      }
    }
  }

    #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #a58fcb;
  }

  #customers th p {
    color: white;
  }

  .points-menu {
    position: relative;

    .menu-float {
      z-index: 1;
      background-color: #ffffff;
      border-radius: 10px;
      width: 12em;
      position: absolute;
      top: 16px;
      right: 10px;

      &-item:hover {
        background-color: #9196fc29;
        color: #ffffff;
      }

      &-item {
        border-bottom: 1px solid #70707042;
        padding: 10px 10px;
        box-sizing: border-box;
        justify-content: space-between;
      }
      &-item:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      &-item:last-child {
        border-bottom: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
  .review {
    gap: 5px;
  }

  .filter-options {
    display: flex;
    flex-direction: column;
    text-align: justify;
    text-transform: capitalize;
    font-weight: normal;
    gap: 15px;
    padding: 15px 7px;

    label {
      display: flex;
      gap: 5px;
    }
    .button {
      padding: 5px 15px;
      margin: 0 auto;
    }
  }

  .sortable {
    transform: rotate(180deg);
  }

  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;

    div {
      cursor: pointer;
    }

    &-page {
      border: 1px solid #ffffff;
      padding: 5px 10px;
      border-radius: 7px;
      cursor: pointer;

      &:hover {
        color: #ffffff;
        background-color: #6b72fd;
        border: 1px solid #6b72fd;
        padding: 5px 10px;
        border-radius: 7px;
      }
    }

    &-page.not-view {
      visibility: hidden;
    }

    &-page.active {
      color: #ffffff;
      background-color: #6b72fd;
      border: 1px solid #6b72fd;
      padding: 5px 10px;
      border-radius: 7px;
    }
  }
}
