.brands-page {
  .content {
    margin-top: 30px;
    gap: 50px;
    flex-wrap: wrap;
  }
  .brand-card {
    width: 378px;
    height: 283px;
    border-radius: 13px;
    background-color: #ffffff;
    text-align: center;
    position: relative;

    .card-content {
      cursor: pointer;
      padding: 20px;
      box-sizing: border-box;
      height: 15em;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      img {
        height: 97px;
        margin: auto;
      }
    }
    .delete-icon {
      position: absolute;
      right: 5px;
      top: 5px;
      width: 30px;
      cursor: pointer;

      img {
        width: 100%;
        height: auto;
      }
    }

    .footer {
      position: absolute;
      bottom: 0;
      background-color: #9999ff;
      padding: 20px;
      box-sizing: border-box;
      width: 100%;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom-left-radius: 13px;
      border-bottom-right-radius: 13px;

      div {
        color: #ffffff;
      }

      .predt {
        display: flex;
        gap: 10px;
        cursor: pointer;

        .start-pred:before {
          content: "\2605";
          position: absolute;
        }

        &:hover {
          .start:before {
            content: "\2605";
            position: absolute;
          }
        }
      }
    }
  }
}
